body{
    background-color: #F5FAF3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.login_content{
    display: flex;
    flex-direction: column;
    border: 2px solid #435a37;
    border-radius: 20px;
    padding: 30px;
    gap: 25px;
    align-items: center;
    width: 30%;
}

.titulo h1{
    font-size: 30px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

form label{
    font-size: 20px;
}

form input{
    font-size: 15px;
    margin-bottom: 8px;
    padding: 10px 12px;
    border: 2px #435a37 solid;
    border-radius: 8px;
    outline: none;
    background-color: #F5FAF3;
}

a{
    color: #5d7e4e;
    text-decoration: underline;
}

a:hover {
    color: #435a37;
    cursor: pointer;
}

button{
    margin: 0;
    padding: 0 15px;
    text-decoration: none;
    border-style: none;
    height: 40px;
    color: #f8f7ee;
    background-color: #5d7e4e;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #435a37;
}