body{
    background-color: #ffffff;
    /* temporario */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 50px;
    z-index: 1000;
    background-color: #5d7e4e;
    border-bottom-right-radius: 70px;
}
.sidebar_content{
    text-align: center;
    margin: 12px 0;
}

.sidebar_content .icon{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.sidebar_content .logo img{
    width: 40px;
    height: 40px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 999;
    background-color: #ffffff;
    padding: 0 0 0 100px;
}

.header_content{
    display: flex;
    align-items: center;
    width: 100%;
}

.header_content input{
    background-color: #5d7e4e;
    align-items: center;
    justify-content: center;
    border-style: none;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    outline: none;
    padding: 0 0 0 12px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}

.header_content .icon{
    width: 50px;
    height: 50px;
}

button {    
    text-decoration: none;
    border-style: none;
    height: 40px;
    color: #f8f7ee;
    background-color: #5d7e4e;
    border-radius: 10px;
    width: 70px;
    cursor: pointer;
    margin: 5px;
    letter-spacing: 1px;
}

button:hover {
    background-color: #435a37;
}

.header_content input::placeholder{
    color: #ffffff;
}

.header_content input:hover{
    background-color: #435a37;
}

.login_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 15px;
    padding-right: 10px;
}


.header_content button:hover{
    background-color: #435a37;
}

.header_content .icon{
    padding: 0 0 0 10px;
}

main{
    height: 100vh;
    display: flex;
    margin: 70px 0 0 73px;
}

iframe{
    width: 100%;
}

.main_content_home {
    column-count: 4; 
    column-gap: 15px;
    padding: 15px 0 0 15px;
    height: 100%;
}

.card {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    break-inside: avoid;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;

}

.main_content_home img:hover {
    filter: brightness(50%);
}

.main_content_create{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 12px;
    height: 100vh;
    width: 100%;
}

.main_content_create .criacao{
    margin: 32px 0 0 0 ;
    display: flex;
    justify-content: center;
}

.main_content_create .arquivo{
    border: #435a37;
    border-style: dashed;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    margin: 0 20px 0 0;
    width: 30rem;
}

.main_content_create form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}

.main_content_create .form_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.main_content_create form input{
    justify-content: center;
    height: 40px;
    border-radius: 8px;
    padding: 0 0 0 12px;
    font-weight: 500;
    letter-spacing: 1px;
    border-color: #435a37;
    margin: 0 0 12px 0;
}

.main_content_create .descricao{
    height: 90px;
}

.main_content_create form button{
    margin: 0;
    width: 90px;
}