body{
    background-color: #F5FAF3;
    /* temporario */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 50px;
    z-index: 1000;
    background-color: #5d7e4e;
    border-bottom-right-radius: 70px;
}
.sidebar_content{
    text-align: center;
    margin: 12px 0;
}

.sidebar_content .icon{
    display: flex;
    flex-direction: column;
    gap: 35px;
    cursor: pointer;
}

.sidebar_content .logo img{
    width: 40px;
    height: 40px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 998;
    background-color: #F5FAF3;
    padding: 0 0 0 100px;
}

.header_content{
    display: flex;
    align-items: center;
    width: 100%;
}

.header_content input{
    background-color: #5d7e4e;
    align-items: center;
    justify-content: center;
    border-style: none;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    outline: none;
    padding: 0 0 0 12px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}

.header_content .icon{
    width: 50px;
    height: 50px;
}

header a {    
    text-decoration: none;
    border-style: none;
    height: 40px;
    color: #f8f7ee;
    background-color: #5d7e4e;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

header a:hover {
    background-color: #435a37;
}

.header_content input::placeholder{
    color: #ffffff;
}

.header_content input:hover{
    background-color: #435a37;
}

.login_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 15px;
    padding-right: 10px;
}


.header_content a:hover{
    background-color: #435a37;
}

.header_content .icon{
    padding: 0 0 0 10px;
}

main{
    display: flex;
    margin: 70px 0 0 73px;
    z-index: 996;
}

iframe{
    width: 100%;
}

.main_content_home {
    column-count: 4; 
    column-gap: 15px;
    padding: 15px 0 0 15px;
}

.main_content_home .card {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    break-inside: avoid;
}

.main_content_home .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.main_content_home img:hover {
    filter: brightness(50%);
}

.main_content_create{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 20px;
    width: 100% !important;
}

.main_content_create .criacao{
    margin: 32px 0 0 0 ;
    display: flex;
    justify-content: flex-start;
}

.main_content_create .arquivo{
    border: #435a37;
    border-style: dashed;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    margin: 0 20px 0 0;
    padding: 15px;
    width: 40vw;
    height: 60vh;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
    width: 40vw;
}

.main_content_create .form_content{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.main_content_create form input, textarea{
    justify-content: center;
    height: 40px;
    border: 2px solid #435a37;
    background-color: #F5FAF3;
    border-radius: 8px;
    outline: none;
    padding: 5px 12px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0 0 12px 0;
    resize: none
}

.main_content_create .descricao{
    height: 90px;
}

.main_content_create form button{
    margin: 0;
    padding: 0 15px;
    text-decoration: none;
    border-style: none;
    height: 40px;
    color: #f8f7ee;
    background-color: #5d7e4e;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content_create form button:hover {
    background-color: #435a37;
}

.notificacao {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding-left: 75px;
    width: 300px;
    z-index: 999;
    background-color: #F5FAF3;
    border-bottom-right-radius: 50px;
    box-shadow: 200px 0 100px rgba(8, 19, 4, 0.5);
    overflow-x: hidden;
    transition: transform 0.3s ease;
    transform: translateX(1%);
}

.notificacao_content{
    padding: 20px;
}

.notificacao_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}

.fecharNotificacao {
    cursor: pointer;
}

.notificacao_body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.notificacao_body .card{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.notificacao_body .card img{
    width: 50%;
    border-radius: 8px;
}

.notificacao_body .card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_header .titulo{
    font-weight: 500;
}

.card_header .subtitulo{
    color: #435a37;
    cursor: pointer;
}

.card_content .mais {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.card_content .mais span{
    display: flex;
    align-items: center;
    background-color: #5d7e4e;
    color: #fff;
    padding: 0 10px;
    border-radius: 10px;
    cursor: pointer;
}